
.color-shadow::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(-45deg, #ffe32c 0%, #52acff 100% ); */
  background: linear-gradient(-45deg,yellow 20%,  #fc00ff 35%, #00dbde 84% );
  transform: translate3d(-30px, -10px, 0) scale(0.9);
  filter: blur(20px);
  opacity: 0.4;
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.bocolor-shadow::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      